// Helpers (Classes & placeholders helpers)
// ----------------------------------------

@import '../vendors/utilities';

// Strict responsive images
.img-responsive-strict {
  height: auto;
  width: 100%;
}

// Bootstrap col without padding in x.
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/** Containers **/

// Table center in x,y
.container-xy {
  @include center-table();
}

// Table cell center in x,y
.container-xy-content {
  @include center-table-cell();
}

// Absolute 100% width and height
.container-abs {
  position: absolute;
  @include square(100%);
}

// Absolute footer align in bottom
.footer-abs {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.add-border{
  border: 6px #fffcfc solid;
}


/* VISUAL
==================================================*/
html {
  height: 100%;
}

body {
  overflow: hidden;
	-webkit-filter:blur(0px);
  background:#000;
}

div#meteor {
	position: absolute;
}

/* ANIMATION METEOR
================================================== */
@-webkit-keyframes meteor {
	0%  {
		top: 0%;
		right: 0%;
		opacity: .5;
		width: 50px;
		height: 50px;
  	}
	100% {
		top: 140%;
		right: 300%;
		opacity: 1;
		width: 130px;
		height: 130px;
  	}
}

@-moz-keyframes meteor {
	0%  {
		top: 0%;
		left: 0%;
		opacity: .5;
		width: 50px;
		height: 50px;
	}
	100% {
		top: 9%;
		left: 100%;
		opacity: 1;
		width: 130px;
		height: 130px;

	}
}

div#meteor {
	-webkit-animation: meteor 3s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: meteor 3s;
	-moz-animation-timing-function:linear;
	-moz-animation-iteration-count: infinite;
}


/* ANIMATION TYPE
http://codepen.io/samarkandiy/pen/nyLsx
================================================== */

.title_type{
  white-space: nowrap;
 overflow: hidden;
  animation: type 4s steps(60, end);
}

p:nth-child(2){
 animation: type2 8s steps(60, end);
}

p a{
 color: lime;
 text-decoration: none;
}

span{
 animation: blink 1s infinite;
}

@keyframes type{
 from { width: 0; }
}

@keyframes type2{
 0%{width: 0;}
 50%{width: 0;}
 100%{ width: 100; }
}

@keyframes blink{
 to{opacity: .0;}
}

::selection{
 background: black;
}


/* Elemento flotante "elgorro.png"
http://codepen.io/joseluisq/pen/XNPOev
================================================== */

.dot {
	position: absolute;
	width: 70px;
	height: 54px;
  z-index: 1;
  background-repeat: no-repeat;
  background: url('img/do.png?v=3535');
}
