// Mixins
// ------

// Append image properties
@mixin mx-img ($src, $width, $height) {
  background-image: url(fn-path-assets($src));
  width: $width;
  height: $height;
};

@mixin font-regular {
  font-family: 'Museo100-Regular', sans-serif;
}
