// Variables
// ---------

$color-init-bg: #487185;
$color-end-bg: #c2d5cf;
// Default colors
$color-white: #fff;
$color-black: #000;
$color-violet: #624d8e;
$color-violet-dark: #241c34;
$color-red: #ed4350;
$color-dark-gray: lighten($color-black, 30%);
$color-light-gray: darken($color-white, 20%);
$color-blue-gray: #939598;

// Social colors
$color-facebook: #3c5a9a;
$color-twitter: #55acee;
$color-spotify: #2ebd59;
$color-instagram: #2b5c84;
$color-google-plus: #d73d32;
$color-vine: #00bf8f;
$color-youtube: #cc181e;
$color-pinterest: #bd2126;
$color-linkedin: #0177B5;

// Font awesome path
$fa-font-path: 'fonts' !default;

// Project paths
$var-path-assets: '/assets' !default;
