// Typography
// ----------

@font-face {
  font-family: 'Museo100-Regular';
  src: url('fonts/Museo100-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Museo100-Regular.otf')  format('opentype'),
    url('fonts/Museo100-Regular.woff') format('woff'),
    url('fonts/Museo100-Regular.ttf')  format('truetype'),
    url('fonts/Museo100-Regular.svg#Museo100-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo-700';
  src: url('fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
    url('fonts/Museo-700.otf')  format('opentype'),
    url('fonts/Museo-700.woff') format('woff'),
    url('fonts/Museo-700.ttf')  format('truetype'),
    url('fonts/Museo-700.svg#Museo-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h1 {
  font-size: 5em;
}

.h2 {
  font-size: 3em;
}

.h1-2 {
  font-size: 4em;
}

.h3 {
  font-size: 2em;
}

.h4 {
  font-size: 1.5em;
}

.text {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
}

.font-light {
  color: $color-white;
  font-family: 'Museo100-Regular', sans-serif;
  font-weight: normal;
}

.font-bold {
  color: $color-white;
  font-family: 'Museo-700', sans-serif;
  font-weight: normal;
}
