// Default
// -------
// Note: Uses `.uncss-` prefix class to ignore classes
//       by `grunt-uncss` task in `build` mode.

@import '../helpers/variables';
@import '../vendors/utilities';

body {
  overflow: hidden !important;

  &.scroll {
    overflow: auto !important;
  }
}

html { 
  padding: 0;
  margin: 0;

  // Gradient background
  &:before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 400%;
    background: linear-gradient(to bottom, $color-init-bg 0%, $color-end-bg 100%);
    top: 100%;
    left: 0;
    z-index: -1;
  }

  // Mountains background
  &:after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    left: 0;
    top: 400%;
    background-image: url('img/footer.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;

     z-index: -1;

  }
}

body {
  padding: 0;
  margin: 0;

  position: absolute;
  cursor: default;
  width: 100%;
  height: 100%;
  color: $color-dark-gray;
  background-color: $color-init-bg;

  // Snow background
  &:before {
    perspective: 1000px;
    backface-visibility: hidden;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 500%;
    top: 0;
    left: 0;
    z-index: 1;
    animation: animated-background 10s linear infinite;
    background-image: url('img/snow1.png'),
      url('img/snow2.png'),
      url('img/snow3.png');
    background-repeat: repeat;
    background-position: 50% 50%;
  }
}

.addStrong{
  font-family: 'Museo-700';
}

.elementdo{
  display: none;
}

.addMarke-01{
  background: url('img/border01.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 2em;
}

.uncss-outdatedbrowser {
  background: #F19A2A;
  color: #fff;
  font-size: 18px;
  left: 0;
  line-height: 1.6;
  margin: 0;
  overflow: hidden;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 7;
  a {
    color: #fff;
    font-weight: bold;
    border-bottom: solid 1px #fff;
  }
}
a {
  transition: background 0.2s ease, color 0.2s ease;
  text-decoration: none;
}
.color-gray {
  color: lighten($color-black, 35%);
}

// Navigation

.bg-branches-right {
  position: fixed;
  right: 0px;
  width: 182px;
  z-index: 1;
  height: 100%;
  top: 46px;
  background: url(img/bg-branches-right.png?v=111);
  background-repeat: repeat-x;
  background-position: -34px center;
  opacity: 0.3;
}

.bg-branches-left {
  position: fixed;
  left:0px;
  width: 177px;
  z-index: 1;
  height: 100%;
  top: 46px;
  background: url('img/bg-branches-left.png?v=111');
  background-repeat: repeat-x;
  background-position: -90px center;
  opacity: 0.3;

}


.navigation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $color-white;
  padding: 1em;
  width: 100%;
  height: 3em;

  a {
    @include font-regular;
    color: $color-dark-gray;
    &:hover {
      color: $color-violet;
    }
  }
}

.logo,
.languages {
  display: inline-block;
  vertical-align: top;
}
.languages {
  position: absolute;
  top: 0.3em;
  right: 1em;
  margin: 0;
  padding: 0;
  text-align: right;
  li {
    display: inline-block;
    vertical-align: top;
    &:last-child {
      margin-left: pem(3);
    }
  }
  a {
    @include circle(pem(50));
    display: inline-block;
    position: relative;
    background-color: $color-blue-gray;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    line-height: 3.2;
    color: $color-white;
    font-size: pem(11);
    &.active,
    &:hover {
      background-color: $color-red;
      color: $color-white;
    }
    &.active {
      cursor: default;
    }
  }
}

.btn-down {
  position: absolute;
  bottom: 18%;
  left: 0;
  width: 100%;
  text-align: center;

  .h4 {
    font-size: 1.25em;
  }
}

.btn-circle {
  @include circle(pem(40));
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  line-height: 2.5;
  color: $color-white;
  font-size: pem(30);
  transition: transform .3s ease;
  z-index: 4;

  img {
    position: relative;
    z-index: 1;
  }

  &:hover {
    transform: scale(0.9);
  }

  &:before {
    @include circle(pem(30));
    position: absolute;
    left: pem(5);
    top: pem(5);
    content: ' ';
    background-color: $color-red;
  }
  &:after {
    @include circle(pem(40));
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    content: ' ';
    border: dashed 2px $color-white;
    animation: animated-circle 10s linear infinite;
  }
}

.el {
  position: absolute;
}
.el01 {
  top: 10%;
  left: 64%;
}
.el02 {
  bottom: 14%;
  left: 24%;
}
.el03 {
  top: 5%;
}
.el04 {
  bottom: 10%;
  left: 10%;
}
.el05 {
  bottom: 5%;
  left: 38%;
}
.el06 {
  margin-top: 0em;
  margin-left: 23em;
}
.el07 {
  top: 10%;
  right: 10%;
}
.el08 {
  margin-top: 4em;
  margin-left: -8em;
}
.el09 {
  margin-top: 4em;
  margin-left: 34em;
}
.el10 {
  top: 5%;
  right: 57%;
}
.el11 {
  bottom: 0;
  left: 12%;
}
.el13 {
  top: 26%;
  left: 28%;
}
.el14 {
  top: 8%;
  right: 15%;
}

.el03b {
  top: 24%;
  left: 12%;
}

.el03c {
  top: 42%;
  right: 11%;
  left: auto;
}

.el03d {
  top: auto;
  bottom: 3%;
  left: 58%;
}

.el011 {
  top: 9%;
  right: 0%;
  left: auto;

}

.el012 {
  top: 9%;
  left: 0%;
}


.footer-text {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  text-align: center;

  .h1-2 {
    font-size: 56px;
    width: 550px;
    margin: auto;
  }

  .footer-logo {
    margin-top: 4em;
    img {
      width: 300px;
    }
  }
}

.elgorro{
  width: 102px !important;
  position: absolute;
  margin-left: -2em;
  margin-top: -2em;
  z-index: 999999;
}

.footer-copy {
  $width: 640;
  @include font-regular;
  display: block;
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: pem(-($width / 2));
  background-color: rgba($color-white, .95);
  padding: .7em;
  width: pem($width);
  border-radius: 3px;
  font-size: 16px;
  color: $color-violet-dark;
}

.text-title {
  position: relative;

  .sheet {
    top: -2em;
    left: -4em;

    img {
      width: 250px;
    }
  }

  .bells {
    top: -2em;
    right: -4em;

    img {
      width: 250px;
    }
  }
}

.anim-fade {
  animation: animation-fade 3s infinite;
  animation-direction: alternate;
}

.anim-fade1 {
  animation: animation-fade 6s infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.anim-fade3 {
  animation: animation-fade 6s infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

.anim-fade4 {
  animation: animation-fade 7s infinite;
  animation-direction: alternate;
  animation-delay: 4s;
}

.anim-fade5 {
  animation: animation-fade 6s infinite;
  animation-direction: alternate;
  animation-delay: 5s;
}

.anim-fade2 {
  animation: animation-fade 6s infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

// Background animation
@keyframes animated-background {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

// Background animation
@keyframes animated-circle {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  40% {
    opacity: 0;
    transform: rotate(90deg) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(0.95) rotate(360deg);
  }
}

// Aniamtion fade in, face out
@keyframes animation-fade {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  40% {
    transform: scale(.95);
    opacity: 1;
  }

  80% {
    transform: scale(.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-height: 768px) {
  .footer-copy {
    bottom: 0;
  }

  .footer .btn-down {
    bottom: 26%;
    .content-info{
       font-size: 13px;
    }
  }

  #btn-next {
    bottom: 5%;
    z-index: 3;
  }

  .bg-branches-right,
  .bg-branches-left {
    z-index: -1;
  }
}

@media screen and (max-width: 1300px) and (max-height: 768px) {
  .footer-copy {
    bottom: 2em !important;
  }
}


.footer-logo img{
  width: 350px;
}

@media screen and (max-width: 407px) {
  .h1 {
      font-size: 3.3em;
    }

    .h2 {
      font-size: 2.3em;
      width: 96%;
      }

  .h1-2 {
    font-size: 2.5em;
  }
  .img-responsive{
    width: 97%;
  }
  #end-title{
    font-size: 34px;
    width: 94%;
    margin-bottom: 2em !important;
  }
  .el{
    display: none;
    visibility: hidden;
  }

  .footer-copy{
    bottom: 0.3em !important;
    font-size: 10px
  }

  .footer .btn-down{
    bottom: 21%;
  }
}

@media screen and (max-width: 1300px) {
  .h1 {
    font-size: 4.3em;
  }
  .star {
    width: 150px;
  }
  .el01 img,
  .el02 img {
    width: 100px;
  }
  .el07 {
    top: 15%;
    img {
      width: 150px;
    }
  }
  .el04 {
    img {
      width: 160px;
    }
  }
  .el11 {
    bottom: 5%;
    img {
      width: 160px;
    }
  }
  .footer-logo img {
    width: 260px;
  }
  .h1-2 {
    font-size: 3.5em;
  }
  .footer-copy {
    bottom: 18%;
  }
}

// Animacion rotar
.rotate-element {
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

// Animacion rotar copos
.rotate-flakes {
  animation:  animated-circle 6s linear infinite;
  opacity: 0.4;
}

// Animacion rotar copos
.rotate-flakes-strong1 {
  animation: animated-circle 4s linear infinite;
}
// Animacion rotar copos
.rotate-flakes-strong2 {
  animation:  animated-circle 4s linear infinite;
  animation-delay: 4;
}
// Animacion rotar copos
.rotate-flakes-strong3 {
  animation:  animated-circle 6s linear infinite;
  animation-delay: 5;
}


@-moz-keyframes spinstrong {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spinstrong {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spinstrong {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.campana-element {
  animation: campana 2s infinite;
  animation-direction: alternate;
}

@keyframes campana {
  0% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
.ball-element {
  transform: rotateZ(-40deg);
  animation: ball 8s infinite;
  animation-direction: alternate;
}
@keyframes ball {
  0% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(40deg);
  }
}


// Flex img

.animate-shake-left{
  animation: shakeleft 9s infinite;
  animation-direction: alternate;
}

@keyframes shakeleft {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}

.animate-shake-right{
  animation: shakeright 9s infinite;
  animation-direction: alternate;
}

@keyframes shakeright {
  0% {
    transform: skewY(-20deg);
  }
  100% {
    transform: skewY(20deg);
  }
}

.logo-home {
  margin-top: 1em;
  width: 450px;
}
